<h1>Flight Booker</h1>

<h3>Search for Your Flights</h3>
<%= render 'search_form' %> 

<% if @flights.nil? %>
  <h4> Choose flight options to see available flights. </h4>
<% else %>
  <h4> <%= @flights[0].selected_options %> for <%= @tickets %> passengers. </h4>
  <strong>Available Flights:</strong>
  <% @flights.each do |flight| %>
    <p> <%= flight.details %> </p>
  <% end %> 
<% end %>  