<h1>Flight Booker</h1>

<h3>Search for Your Flights</h3>
<%= render 'search_form' %> 

<% if @booking_options %>
  <h4> <%= @booking_options[0].selected_options %> for <%= @tickets %> passengers. </h4>
  <strong>Available Flights:</strong>
  <%= render partial: 'select_booking_option_form' %>
<% else %>
  <h4> Choose flight options to see available flights. </h4>
<% end %>  