<h1>Your Flight</h1>
<p><strong>Departure: </strong> <%= @flight.departure_details %> </p>
<p><strong>Arrival: </strong> <%= @flight.arrival_details %></p>

<h2>Add Passenger Information:<h2>
<%= render 'create_booking_form'%>